/* FORMS */
form {
    @extend %zero-space;
    
    input {
        padding: 1.0rem !important;
        margin: 0;
        font-size: 1.7rem;
        font-weight: 400;
        height: 4.5rem !important;
        width: 100%;
        border: 0.1rem solid #000;
        box-sizing: border-box;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        
        &:focus {
            @extend %border-red;
        }
    }
}
