/* LAYOUT */
.right { float: right !important; }

.top-10 { margin-top: 1.0rem !important; }

.top-20 { margin-top: 2.0rem !important; }

.btm-10 { margin-bottom: 1.0rem !important; }

.btm-20 { margin-bottom: 2.0rem !important; }

.left-20 { margin-left: 2.0rem !important; }

.left-10 { margin-left: 1.0rem !important; }

.fl-left { float: left; }


.row {
    display: block; clear: both;
    margin: 0; padding: 0;
    width: 100%;
}
.col-1 { width: 8.33333%; @extend %zero-space; }

.col-2 { width: 16.66666%; @extend %zero-space; }

.col-3 { width: 25%; @extend %zero-space; }

.col-4 { width: 33.33333%; @extend %zero-space; }

.col-5 { width: 41.66666%; @extend %zero-space; }

.col-6 { width: 50%; @extend %zero-space; }

.col-7 { width: 58.33333%; @extend %zero-space; }

.col-8 { width: 66.66666%; @extend %zero-space; }

.col-9 { width: 75%; @extend %zero-space; }

.col-10 { width: 83.33333%; @extend %zero-space; }

.col-11 { width: 91.66666%; @extend %zero-space; }

.col-12 { width: 100%; @extend %zero-space; }