/* MODAL PLUGIN */
.ReactModalPortal>div {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 300ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    h2 {
        font-size: 1.4rem;
        font-weight: 700;
        color: $brand-color;
    }
    
    p {
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: 400;
    }

    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        border: 0.1rem solid #588fd6;
        border-radius: 0.25rem;
        height: 3.5rem;
    }
}